<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Cer-NLP API | Reset Password</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Main CSS File -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/logo.css" rel="stylesheet">
      
      </head>

      <body>
        <div class="container" id="container">

            <div class="form-container  sign-in-container" id="sign__in">
                <form action="#">
                    <div class="header">Reset Password</div>
                    <div class="button-input-group">
                        <div class="group input-group">
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="group button-group">
                            <button class="signin-btn" onclick="return false;">Reset Password</button>
                        </div>
    
                        
                    </div>
                </form>
            </div>
    
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <div class="container-logo">
                            <svg viewBox="0 0 960 300">
                                <symbol id="s-text">
                                <text text-anchor="middle" x="50%" y="50%"">Cer-NLP</text>
                                </symbol>
                                <g class = "g-ants">
                                <use xlink:href="#s-text" class="text-copy"></use>
                                <use xlink:href="#s-text" class="text-copy"></use>
                                <use xlink:href="#s-text" class="text-copy"></use>
                                <use xlink:href="#s-text" class="text-copy"></use>
                                <use xlink:href="#s-text" class="text-copy"></use>
                                </g>
                            </svg>
                        </div>
                        <p style="margin-top:-5%">Forgot your password?</p>
                        <p>We will send you a reset mail!</p>
                        <footer>
                            <p>Cer-NLP All Rights Reserved.</p>
                        </footer>
                    </div>
                </div>
            </div>
    
        </div>
    </body>

    <script src="js/login.js"></script>

</html>